/*
 -------------------------------
 Base field
 -------------------------------
 */

$drops-background-color: #fff !default;
$drops-text-color: #222 !default;
$drops-disabled-background-color: #ccc;
$drops-border-color: #999;
$drops-head-height: 40px;
$drops-body-max-height: 200px;
$drops-arrow-size: 7px;
$drops-arrow-offset: 5px;
$drops-head-padding: 0 30px 0 15px;

/*
 -------------------------------
 Select field
 -------------------------------
 */

$drops-select-option-padding: 15px;
$drops-select-option-selected-background-color: #eee;